$mainColor: #4d6cfb;
.resultContainer {
  background-color: #fff;
  padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
  .resultCard {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    color: $mainColor;

    button {
      padding: 7px;
      font-size: 16px;
      border: 1px solid $mainColor;
      border-radius: 6px;
      width: 135px;
      color: #fff;
      background-color: $mainColor;
      font-weight: 500;
      cursor: pointer;
    }
    button:hover {
      box-shadow: 1.5px 1.5px 3px gray;
    }
  }

  .Answers {
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  }
}
