.mainNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 2px 6px grey;
    position: sticky;
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img.userImg {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }
}
